*{
   padding: 0;
   
}


#content__books {
background-color: rgb(249, 246, 242);
}

#content__books__heading {
margin-top:0;
background-color:rgb(241, 198, 117) ;
height: -20px;
padding-top: 20px;
padding-bottom: 20px;
justify-content: center;
display: flex;
align-items: center;
}


.nav-item{
  text-decoration: none;
  display: block;
  

} 
.nav-item:hover{
  background-color: grey;
}


/*book review*/

.book-grid {
  display: grid;
  background-color: rgb(249, 246, 242);
  padding-top:30px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
  margin-top: -25px;
}

.book-card {
  --scale: 0.8;
  cursor: pointer;
}

.book-card .card-head {
  position: relative;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

.book-card:hover .card-img { transform: scale(1.1); }

.book-card .card-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  
}

.book-card:hover .card-overlay {
   opacity: 1; 
  }



.book-card .card-title {
  font-size: var(--fs-md);
  font-weight: var(--fw-5);
  margin-bottom: 5px;
}

.book-card:hover .card-title {
   color: black;
   }

.book-card .card-info {
  display: flex;
  font-size: var(--fs-x-sm);
  font-weight: var(--fw-5);
}

.book-card .genre { 
  margin-right: 8px;
 }




/*footer*/

.content__footer {

  background-color: rgb(241, 198, 117);
 
}


/*img*/

#content__books__cards{
  background-color: white;
  padding-top: 50px;
  display:flex;
  flex-direction:row;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: center;
  flex-wrap: wrap;
  
}



/*other books*/

.more-books-grid {
  display: grid;
  background-color: white;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
  margin-top: -25px;
  
}

.more-books-card {
  --scale: 0.8;
  cursor: pointer;
}


.section-heading {
  margin-top:0;
background-color:rgb(241, 198, 117) ;
height: -20px;
padding-top: 20px;
padding-bottom: 40px;
justify-content: center;
display: flex;
align-items: center;
}

.more-books-card .card-head {
  position: relative;
  height: 200px;
  border-radius: 0px;
  margin-bottom: 0;
  overflow: hidden;
}

.more-books-card:hover .card-img { 
  transform: scale(1.1); 
}

.more-books-card .card-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  backdrop-filter: blur(5px);
}

.more-books-card:hover .card-overlay { 
  opacity: 1;
 }



.more-books-card .card-title {
  font-size: var(--fs-md);
  font-weight: var(--fw-5);
  margin-bottom: 5px;
}

.more-books-card:hover .card-title { 
  color: var(--light-azure); 
}

.more-books-card .card-info {
  display: flex;
  font-size: var(--fs-x-sm);
  font-weight: var(--fw-5);
}

.more-books-card .genre { 
  margin-right: 8px; 
}
 







